<div class="container pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Rehearsals</h2>
      <ul>
        <% @rehearsals.each do |rehearsal| %>
          <li><%= link_to rehearsal.title, rehearsal_path(rehearsal) %></li>
        <% end %>
      </ul>
      <%= link_to "Create new rehearsal", new_rehearsal_path %>
    </div>
  </div>
</div>