<div class="container pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Create a new rehearsal</h2>
      <%= render "form", rehearsal: @rehearsal %>
      <%= link_to  "Cancel", rehearsals_path %>
    </div>
  </div>
</div>
