// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #75A1CE;
$yellow: #FFD761;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #E9F2F3;
$light-blue: #75A1CE;

// Open Rehearsal colour variables:

$or-sky-blue: #8CC4CF;
$or-pale-blue: #EBF2F3;
$or-yellow: #FFD761;
$or-pale-yellow: #FBEDB0;
$or-navy: #2A5379;
$or-slate: #91A7BB;
$or-almost-black: #2E3337;
$or-dark-grey: #5B5B5B;
$or-pale-grey: #E3E3E3;
$or-pink: #FFC1DF;
$or-orange: #F5A631;


