<div class="musical-note-v2">
  <div class="note-1-v2">
  &#9835; &#9833;
</div>
<div class="note-2-v2">
  &#9833;
</div>
<div class="note-3-v2">
  &#9839; &#9834;
</div>
<div class="note-4-v2">
  &#9834;
</div>
</div>
