 <div class="banner">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <%= render 'shared/animated_musical_notes-v2' %>
      <div class="col">
        <% if user_signed_in? %>
          <h1>Welcome, <%= current_user.username %>!</h1>
          <p>Find your next rehearsal opportunity</p>
          <%= link_to "EXPLORE", rehearsals_path, class: "btn btn-explore mb-3 mr-2" %>
        <% else %>
          <h1>Grab your instrument and join a rehearsal</h1>
          <p>Find fellow musicians to rehearse with or start your own rehearsal</p>
          <a class="btn btn-openrehearsal" href="users/sign_up">LET’S PLAY!</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
