<div class="footer mt-auto">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-spotify"></i></a>
  </div>
  <div class="footer-copyright">
    © 2021 Open Rehearsal
  </div>
</div>
