<div class="request-card">
  <div class="avatar-large">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  </div>

  <div class="request-content">
    <p>Zak Stone</p>
    <p><small>Mandolin</small></p>
  </div>

  <div class="request-action">
    <%= link_to "View Profile", "#", class:"btn", method: :post, remote: true%>
    <%= link_to "Confirm", "#", class:"btn btn-request", method: :post, remote: true%>
  </div>
</div>
