<div class="container mt-5">
<h3 class="my-3">My Requests</h3>
<!-- <h4><%#= I18n.t('requests_from_others', count: @incoming_requests.count) %></h4> -->

  <div class="container requests-container">
    <div class="row no-gutters">
      <div class="col-md-4 border-right">
        <div class="rehearsal-panel">

            <% @current_user_rehearsals.each do |rehearsal| %>
              <%= render "shared/request_drawer", rehearsal: rehearsal %>
            <% end %>

        </div>
      </div>
      <div class="col-md-8">
        <div class="no-requests text-center pt-4">
          <p>There are currently no requests to join this rehearsal. Check again later!</p>
        </div>
        <div class="request-panel">
          <% @incoming_requests.each do |request| %>
            <%= render "shared/requests_card", request: request %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h4 class="my-5"><%= I18n.t('my_requests', count: @current_user_requests.count) %></h4>

    <div class="my-requests-container row my-5" id="requests-made">
      <% @current_user_requests.each do |request| %>
        <div class="col-12 col-md-6 col-xl-4" align="center">
          <%= render "shared/my_request_card", request: request %>
        </div>
      <% end %>
    </div>

</div>
