<%= simple_form_for @role do |f| %>
  <div class="inline-radio">
    <%= f.association :instrument,
                  collection: @instruments,
                  as: :radio_buttons,
                  label: 'Select instrument:',
                  label_method: lambda { |instrument| render 'shared/instrument_card', instrument: instrument } %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="d-flex justify-content-end">
    <%= f.submit "NEXT", class: "btn btn-openrehearsal" %>
  </div>
<% end %>
