<%= simple_form_for @role do |f| %>
  <%= f.association :instrument, collection: @instruments, as: :radio_buttons %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="d-flex justify-content-end">
    <%#= link_to "Back", edit_rehearsal_path(@rehearsal), class: "btn btn-outline-secondary" %>
    <%= f.submit "Edit lineup", class: "btn btn-outline-secondary" %>
  </div>
<% end %>
