<div class="container pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-8">

      <h1>What will you be playing?</h1>

      <%= render "form", rehearsal: @rehearsal, role: @role %>

    </div>
  </div>
</div>
