.musical-notes-v2 {
  z-index: 10;
  display: block;
  margin: auto;
  position: absolute;
  float: right;
  width: 30%;
  min-width: 100px;
  height: 400px;
  border: 0px solid #000;
}

.note-1-v2,
.note-2-v2,
.note-3-v2,
.note-4-v2 {
  position: absolute;
  animation: notes 2s linear;
  font-size: 35px;
  opacity: 0;
}

.note-1-v2 {
  top: 15px;
  left: 0;
  animation-delay: 0.5s;
}

.note-2-v2 {
  top: 8px;
  left: 30%;
  animation-delay: 1s;
}

.note-3-v2 {
  top: 20px;
  left: 60%;
  animation-delay: 1.5s;
}

.note-4-v2 {
  top: 10px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
