.banner {
  background-size: cover;
  background-position: center top;
  padding: 100px 0 300px 0;
}

.banner h1 {
  margin: 0;
  color: #2E3337;
  font-size: 40px;
  font-weight: 900;
}

.banner p {
  margin: 16px 0 24px 0;
  font-size: 20px;
  color: #5B5B5B;
}
