.card-rehearsal {
  padding: 14px;
  background-color: white;
  margin: 15px 0;
  width: 350px;
  color: black;
  border-left: 5px solid black;
  background-repeat: no-repeat;
  background-position: -25px 45px;
  transition: background-position 0.3s;
  /* background-image: asset-url('banjo_c.svg'); */

  h3 {
    font-family: "Poppins", "Helvetica", "sans-serif";
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    color: grey;
  }
  &:hover {
    background-position: -15px 40px;
  }
}

.no-decoration {
  &:hover {
    text-decoration: none;
  }
}

.card-rehearsal-top {
  height: 70px;
}

.card-rehearsal-top, .card-rehearsal-footer {
  display: flex;
}

.card-rehearsal-footer {
  width: 100%;
  justify-content: flex-end;
}

.card-rehearsal-top-left {
  width: 135px;
}

.card-rehearsal-top-right2 {
  p {
    padding-bottom: 0px;
  }
}
