.form-box {
  // height: 800px;
  width: 400px;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
}


.skill-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  .skill-item {
    border: 3px solid transparent;
    background-color: rgb(229,230,232);
    padding: 4px 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: none;
      color: grey;
    }
    &:hover {
      border: 3px solid $or-almost-black;
      a {
        display: inline;
      }
    }
  }
}
