.wide {
  max-width: 100%;
}

.cards-container {
  width: 53%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.lineup-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.lineup-outer {
  width: 40%;
  float: right;
}

.button-container {
  padding-top: 10px;
  width: 100%;
  float: right;
  display: flex;
  justify-content: center;
}

.instrument-clickable {
  background-color: white;
  padding: 1px;
  width: 91px;
  height: 105px;
  border: 2px solid #dedede;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.instrument-link {
  &:hover {
    text-decoration: none;
  }
}

.instrument-clickable i {
  margin: auto;
}

.instrument-clickable p {
  color: $or-almost-black;
  margin-bottom: 3px;
  font-size: 11px;
  text-decoration: none;
}

.instrument-clickable:hover {
  transition: 0.1s ease;
  transform: scale(1.05);
  border-color: $light-blue;
  border-width: 1px solid $light-blue;
  i {
    filter: invert(72%) sepia(11%) saturate(1484%) hue-rotate(173deg) brightness(84%) contrast(90%);
  }
  p {
    color: $light-blue;
  }
}

.role-user {
  position: absolute;
  padding-left: 2px;
  margin-bottom: 8px;
}

.mini-icon {
  width: 30px;
  height: 30px;
}

.lineup-instrument-clickable {
  padding: 1px;
  width: 91px;
  height: 105px;
  border: 2px solid #dedede;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  z-index: 2;
  transition: 0.1s ease;
}

.change-remove {
  color: $or-navy;
  position: absolute;
  opacity: 0;
  right: 10px;
  z-index: 3;
  transition: 0.1s ease;
}

.lineup-instrument-clickable i {
  margin: auto;
}

.lineup-instrument-clickable p {
  margin-bottom: 3px;
  font-size: 11px;
  color: $or-almost-black;
}

.hover-opacity:hover .lineup-instrument-clickable {
  opacity: .5;
}

.hover-opacity:hover .change-remove {
  opacity: 1;
}
