.wide {
  max-width: 100%;
}

.cards-container {
  width: 53%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.lineup-container {
  width: 43%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.button-container {
  padding-top: 10px;
  width: 44%;
  float: right;
  display: flex;
  justify-content: center;
}

.container .title {
  text-align: left;
  padding-left: inherit;
}

.container .lineup-title {
  text-align: left;
  padding-left: inherit;
}

.instrument-clickable {
  padding: 1px;
  width: 89px;
  height: 105px;
  border: 1px solid #dedede;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.lineup-instrument-clickable {
  padding: 1px;
  width: 89px;
  height: 115px;
  border: 1px solid #dedede;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.instrument-clickable .instrument-link {
  text-decoration: none;
}


.card-plus {
  color: transparent;
  text-shadow: 0 0 0 white;
  position: absolute;
  padding-left: 68px;
  padding-top: -2px
}

.card-plus:hover {
  color: transparent;
}

.instrument-clickable i {
  margin: auto;
}

.instrument-clickable p {
  color: black;
  margin-bottom: 3px;
  font-size: 11px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.instrument-clickable a:hover {
  text-decoration: none;
}

.instrument-clickable:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  border-color: #75A1CE;
  border-width: 1px solid #75A1CE;
  filter: invert(72%) sepia(11%) saturate(1484%) hue-rotate(173deg) brightness(84%) contrast(90%);
}

.instrument-clickable.active {
  border-color: #75A1CE;
}

.instrument-clickable.active i {
  filter: invert(72%) sepia(11%) saturate(1484%) hue-rotate(173deg) brightness(84%) contrast(90%);
}

.role-user {
  position: absolute;
  padding-left: 2px;
  margin-bottom: 8px;
}

.mini-icon {
  width: 30px;
  height: 30px;
}



.lineup-instrument-clickable {
  padding: 1px;
  width: 89px;
  height: 105px;
  border: 1px solid #dedede;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.change-remove {
  z-index: 10;
  position: absolute;
  padding-left: 40px;
  a {
    color: transparent;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}


.lineup-instrument-clickable i {
  margin: auto;
}

.lineup-instrument-clickable p {
  margin-bottom: 3px;
  font-size: 11px;
  text-decoration: none;
}

.lineup-instrument-clickable:hover {
  background-color: grey;
  opacity: .7;
  border-color: black;
  a {
    color: black;
  }
}
