.container {
  max-width: 100%;
}

.cards-container {
  width: 53%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
}

.lineup-container {
  width: 44%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
}

.container .title {
  text-align: left;
  padding-left: inherit;
}

.instrument-clickable {
  width: 88px;
  height: 130px;
  border: 1px solid #dedede;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.instrument-clickable i {
  margin: auto;
}

.instrument-clickable p {
  margin-bottom: 3px;
  font-size: 12px;
  text-decoration: none;
}

.instrument-clickable a:hover {
  text-decoration: none;
}

.instrument-clickable:hover {
  border-color: #52ACF4;
  filter: invert(55%) sepia(93%) saturate(560%) hue-rotate(180deg) brightness(98%) contrast(94%);
}

.instrument-clickable.active {
  border-color: #52ACF4;
}

.instrument-clickable.active i {
  filter: invert(55%) sepia(93%) saturate(560%) hue-rotate(180deg) brightness(98%) contrast(94%);
}

.role-user {
  position: absolute;
  padding-left: 57px;
}
