.my-requests-container .card-rehearsal {
  .card-rehearsal-footer {
    align-items: center;
    justify-content: space-between;
  }
}

.status-pending {
  border-bottom: 2px solid $yellow;
}

.status-confirmed {
  border-bottom: 2px solid $green;
}

.status-rejected {
  border-bottom: 2px solid $red;
}


.request-status {
  border-radius: 2px;
  padding: 0px 2px;
  color: grey;
  font-size: 12px;
  margin-left: 120px;
  p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.cancel-request {
    position: absolute;
    top: 5px;
    right: 6px;
    color: rgba(150, 150, 150, 0.5);
    display: none;
    &:hover {
      color: gray;
    }
}

.div-relative {
  position: relative;
  &:hover {
    .cancel-request {
      display: inline;
    }
  }
}
