.profile .avatar {
  .wrapper {
    width: 140px;
    height: 140px;
    margin: 40px auto;
  }
  .wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .wrapper .edit-profile {
    margin-left: 20px;
    margin-top: 5px;
  }
  .wrapper .edit-profile button {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    margin-top: 20px;
    padding: 4px 10px;
    font-weight: 500;
    position: center;
  }
}

.user-profile {
  display: flex;
  background: white;
  border-radius: 8px;
  height: 400px;
  margin: auto;
}

.profile .basic-info{
  padding: 40px 0;
  .user-wrapper{
    display: flex;
  }
  .username{
    font-size: 30px;
    line-height: 40px;
    font-weight: 200;
  }
  .user-bio {
    display: flex;
  }
  ul.posts{
    padding-left: 0;
    > li{
      list-style-type: none;
      padding-right: 40px;
      font-size: 15px;
      span{
        color: #262626;
        font-weight: 600;
      }
    }
  }
  .name{
    font-size: 15px;
    font-weight: 600;
  }
}

.instruments {
  margin: auto;
  > li {
    list-style-type: none;
  }
}
