.profile {
  margin: auto;
  min-height: 400px;
  max-width: 80%;
  background: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.profile-wrapper {
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  min-width: 330px;
}

.profile-username {
  margin: 16px auto;
  margin-top: 0;
}

.profile-rehearsals {
  margin-top: 40px;
  margin-bottom: 40px;
}

.rehearsals-scroll {
  overflow-y: auto;
  max-height: 400px;
}

.profile-instrument-cards {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.profile-instruments-title {
  padding-top: 24px;
}

.user-bio {
  width: 100%;
}

.profile-image {
  background-image: asset-url('cellist.png');
  height: 190px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 0;
  margin-bottom: 40px;
}

.profile-instrument-cards .instrument-clickable {
  &:hover {
    border: 2px solid #dedede;
    filter: none;
    cursor: auto;
    box-shadow: none;
    transform: none;
  }
}


