.search-input {
  border-radius: 6px 0px 0px 6px;
  border-color: black;
  border-width: 3px 0 3px 3px;
  padding: 2px 16px;
  height: auto;
}

.btn-search {
  background-color: $light-blue;
  border-color: black;
  border-width: 3px;
  border-radius: 0px 6px 6px 0px;
  padding: 2px 16px;
  box-shadow: 3px 5px 0px black;
}
