.spaces-card-rehearsal {
  padding: 14px;
  background-color: white;
  margin: 15px 0;
  width: 350px;
  color: $or-dark-grey;
  border-left: 5px solid black;
  background-repeat: no-repeat;
  background-position: -25px 14px;
  transition: background-position 0.3s;
  background-size: 115px 115px;
  height: 98px;
  /*background-image: asset-url('drum_kit_c.svg');*/

  h3 {
    font-family: "Poppins", "Helvetica", "sans-serif";
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 0px;
    color: $or-dark-grey;
  }
  &:hover {
    background-position: -15px 9px;
  }
}

.spaces-card-rehearsal-top {
  height: 40px;
}

.spaces-card-rehearsal-top, .spaces-card-rehearsal-footer {
  display: flex;
}

.spaces-card-rehearsal-footer {
  width: 100%;
  justify-content: flex-end;
  margin-left: 8px;
  .request-status {
    margin-top: 14px;
    margin-right: 5px;
  }
  .btn-request {
    margin-top: 6px;
    margin-right: 3px;
  }
}

.spaces-card-rehearsal-top-left {
  width: 100px;
}

.spaces-card-rehearsal-top-left p {
  font-size: 14px;
}

.pending-text {
  color: $or-pale-grey;
}

.music-icon-attendee-card {
  position: absolute;
  padding-left: 188px;
  margin-top: -45px;
}
