.spaces-card {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 3px 3px rgba(0, 54, 85, 0.2);
  height: 64px;
  width: 400px;

}

.spaces-instrument {
  height: 64px;
  text-align: center;

  i {
    margin: auto 0px;
  }

  img {
    height: 60px;
    width: 40px;
  }
}



.spaces-card .spaces-content {
  flex-grow: 1;
  padding: 0 24px;
}

.spaces-card p {
  margin: 0;
  line-height: 1.4;
}

.spaces-card small {
  color: #999999;
  font-weight: bold;
}


.spaces-card-rehearsal {
  padding: 14px;
  background-color: white;
  margin: 15px 0;
  width: 350px;
  color: black;
  border-left: 5px solid black;
  background-repeat: no-repeat;
  background-position: -25px 14px;
  transition: background-position 0.3s;
  background-size: 115px 115px;
  /*background-image: asset-url('drum_kit_c.svg');*/

  h3 {
    font-family: "Poppins", "Helvetica", "sans-serif";
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    color: grey;
  }
  &:hover {
    background-position: -15px 9px;
  }
}

